{{ define "main" }}

<!-- ourwork -->
<div class="ourwork">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Our Work</h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our.jpg" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our1.jpg" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our.jpg" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our1.jpg" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our.jpg" alt="#"/></figure>
            </div>
         </div>
         <div class="col-md-4">
            <div class="our_box">
               <figure><img src="images/our1.jpg" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- ourwork -->

{{ end }}